@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300;1,400;1,500&display=swap');

:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --boder-color: #dbdbdb;
    --navbar-height: 34px;
    --header-height: 120px;
    --header-width-search-height: calc(var(--header-height) - var(-navbar-height));

}

* {
    box-sizing: inherit;
}


html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0px auto;

}

.grid__full-wifth {
    width: 100%;

}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;

}

.grid__column-2 {
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;


}

.grid__column-10 {
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3334%;
}

.grid__column-2-4 {
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}



@keyframes fedeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


/* .grid__column {} */


.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    animation: fadeIn linear 0.5s;
    display: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }

    to {
        transform: scale(var(----growth-to));
    }
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);


}

.modal__body {
    --growth-from: 0.7;
    --growth-t0: 1;
    margin: auto;
    position: relative;
    z-index: 1;
    background: var(--white-color);
    border-radius: 5px;
    font-size: 1.5rem;
    animation: growth linear .1s;
}


.btn {
    height: 34px;
    min-width: 124px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    padding: 0px 12px;
    cursor: pointer;
    outline: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn__main {
    background-color: #f53e2d;
    color: var(--white-color);
}

.btn__main-disable {
    cursor: default;
    background-color: #999;
    color: #ccc;
}

.btn-normal:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.btn-size-s {
    height: 32px;
    font-size: 1.2rem;
    padding: 0 8px;
}

.bgw {
    background-color: #fff;
}

.select-input {
    min-width: 200px;
    height: 34px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

}

.select-input:hover .select-input-list {
    display: block;
}


.select-input-label {
    font-size: 1.4rem;
}

.select-input-icon {
    font-size: 1.4rem;
    color: rgba(131, 131, 131);
    position: relative;
    top: 1px;
}

.select-input-list {
    position: absolute;
    left: 0;
    right: 0;
    top: 25px;
    border-radius: 2px;
    background-color: #fff;
    padding: 8px 16px;
    list-style: none;
    display: none;
    z-index: 1;
}

.select-input-link {
    font-size: 1.4rem;
    color: var(--text-color);
    text-decoration: none;
    display: block;
    padding: 4px 0;
}

.select-input-link:hover {
    color: #f53e2d;
}


.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}



.pagination-item {
    margin: 0 14px ;
}

.pagination-link {
    display: block;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight:300;
    color: #939393;
    min-width: 40px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 2px;

}

.pagination-item-active .pagination-link {
    background-color: #f53e2d;
    color: #fff;
}

.pagination-item-active .pagination-link:hover {
    background-color: #ed5c3f;

}

